@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
  margin: 0;
  background-color: "#DADADA";
  font-family: "Montserrat", sans-serif;
}

.main-container {
  height: 100vh;
  width: 100%;
  flex-direction: column;
}

.content-container {
  height: 86vh;
  padding: 2rem;
  box-sizing: border-box;
  display: flex;

  .profile-feed-container{
    height: 100%;
    flex: 0.4;
    display: flex;
    flex-direction: column;

    .feed-container{
      height: 50%;
      width: 100%;
      background-color: #B09A9A;
    }

    .spacer-container {
      height: 20%;
      width: 100%;
    }

    .profile-container{
      height: 30%;
      width: 100%;
      border-radius: 20px;
      background-color : #B09A9A;
      display: flex;
      align-items: center;
      box-sizing: border-box;

      .profImage--container {
        height: 100%;
        width: 35%;
        display: flex;
        align-items: center;
        justify-content: flex-end
        ;
        .profImage {
            height: 6.5em;
            width: 6.5em;
        }
      }
      
      .user-info--container {
        height: 100%;
        width: 65%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
      }
    }
  }

.spacer-container2 {
  height: 100%;
  width: 20px;
}
  
.trans-video-container{
    height: 100%;
    flex: 1;
    background-color: #B09A9A;
    position: relative;
  }
}


.custom-select {
  // min-width: 350px;
  width: fit-content;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 20;
}

.custom-select::before,
.custom-select::after {
  --size: 0.3rem;
  position: absolute;
  content: "";
  right: 1rem;
  pointer-events: none;
}

.custom-select::before {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-bottom: var(--size) solid black;
  top: 40%;
}

.custom-select::after {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-top: var(--size) solid black;
  top: 55%;
}

.custom-select select {
  appearance: none;
  // width: 100%;
  font-size: 1.15rem;
  padding: 0.675em 6em 0.675em 1em;
  background-color: #fff;
  border: 1px solid #caced1;
  border-radius: 0.25rem;
  color: #000;
  cursor: pointer;
}